# Backend
clothing-store-backend/target/
clothing-store-backend/.mvn/wrapper/maven-wrapper.jar
clothing-store-backend/uploads/
*.iml
.idea/

# Frontend
clothing-store-frontend/node_modules/
clothing-store-frontend/dist/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.local
